*{
    box-sizing: border-box;
}
body{
    background-color:#E9CFCE;
    width: 100%;
}

header, nav{
    width:100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    padding: 25px;
    margin-bottom: 50px;
    background-color:#CCB5BD;
}
header nav ul {
    display: flex;
    width:100% ;
    align-items: center;
    justify-content:space-between;
}
header nav ul li{
    width:20%;
}

header nav ul  img{
    width: 100px;
    display: inline-block; 
}

a{
    text-decoration:none;
    color:black;
    font-size: large;
    font-weight: bold;
}

main {
    width:100%;
}
main form{
    width:70%;
    margin:auto;
    border:groove 3px black;
    background-color:#CCB5BD ;
}
form *{
    display:block;
    margin:20px;
}
form label, form legend{
    font-size:larger;
}
form input, form select{
    width:70%;
    padding:8px ;
}

form #pmethod{
    display: flex;
}

#pmethod span *,#pmethod span{
    margin:0; 
}

#pmethod span *{
    display: inline;
}

#pmethod span:first-child{
flex: 2;
}

#location *{
    margin: 10px 0;
    display: inline-block;
}
#location legend{
    font-weight: bold;
    margin-bottom: 10px;
}
#location label{
    width:15%;
}
#location input{
    width:33%;
    margin-right: 5px;
}

form input[type='submit']{
 width:30%;
 font-size: large;
 font-weight: bold;
 margin-left: 33%;
 margin-top: 30px;
 border:outset 5px;
}

footer{
    background-color:#CCB5BD;
    padding:25px;
    font-family:'Dancing Script', cursive;
    margin-top: 40px;
} 

#vl1{
border-left:white solid;
height: 140px;
margin-left: 80px;
margin-right:40px ;
padding-right:0;
padding-left:0;
display: inline-block;
vertical-align: middle;
}


footer ul{
    display:inline-block;
    vertical-align: middle;
    margin: 0;
    padding:0;
    width:11%
}

footer ul li {
    margin-bottom:5px ;
    text-align: center;
}

footer ul :first-child{
    text-decoration:underline ;
    color:white;
    margin-bottom:20px ;
    font-size: large;
}

#vl2{
border-left:white solid;
height: 140px;
margin-left: 40px;
margin-right:40px ;
padding-right:0;
padding-left:0;
display: inline-block;
vertical-align: middle;
}

#secondlist{
margin-right:100px;
}
#vl3{
border-left:white solid;
height: 140px;
margin-left: 40px;
margin-right:40px ;
padding-right:0;
padding-left:0;
display: inline-block;
vertical-align: middle;
}